.board-row{
 background-color: rgb(167, 167, 167);
 justify-content: center;
 width:fit-content;
 height: fit-content;
 justify-content: center;
}
.status{
  background-color: rgb(41, 115, 169);
  border-radius: 50rem;
  height: 2rem;
  width: 15rem;
  font-family: 'Times New Roman', Times, serif;
  font-size: large;
  text-align: center;
  font-style: italic;
  font-weight: 500;
  color: aliceblue;
  text-align: center;
  margin: 1rem;
  padding: 1rem;
  padding-top: 1.5rem;
}

